:root {
  --systemViolet: #6725A8;
  --systemGray: #8A898E;
  --systemDarkCoral: #FF3B30;
  --systemMagenta: #CB11AB;
  --systemOrange: #FF970D;
  --systemRed: #F55123;
  --systemGreen: #0CB477;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--systemViolet);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

header h1 {
  color: white;
  line-height: 24px;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}
main {
  background-color: #F6F6FA;
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cart, .delivery {

  padding: 16px;
}

.cart h2 {
  font-size: 20px;
}

.cart__selector {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;

}

.cart__selector__arrow {
  height: 20px;
  width: 20px;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 12px;
}

.cart__item .overview {
  display: flex;
  gap: 16px;
  font-size: 13px;
}
.cart__item .overview__image {
  position: relative;
}
.item__checkbox {
  position: absolute;
  top: 0;
  margin: 4px;
}
.item__size {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
  background-color: #fff;
  bottom: 0;
  border-radius: 6px;
  left: 4px;
  bottom: 6px;
}
.overview .overview__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart__item .overview .price {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.price .price__real {
  font-weight: 700;
  line-height: 24px;
}

.price .price__discount {
  font-weight: 400;
  line-height: 16px;
  color: var(--systemGray);
  text-decoration: line-through;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.coledinoWB {
  color: var(--systemGray);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.count__btns {
  display: flex;
  justify-content: space-between;
  width: 80px;
  padding: 0 6px;
  background-color: #fff;
  border-radius: 4px;
}

.count__btns .btn {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.count__btns .btn.disabled {
  opacity: 20%;
}

.count__btns .count {
  display: flex;
  align-items: center;
}

.items__left {
  font-size: 13px;
  color: var(--systemDarkCoral);
}

.quickActions {
  display: flex;
  gap: 28px;
  margin-right: 10px;
}
.delivery {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.delivery__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery__head h3{
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.delivery__head span {
  color: var(--systemMagenta);
  font-size: 14px;
  font-weight: 700;
}
.delivery__store {
  display: flex;
  flex-direction: column;
}
.delivery .title {
  font-weight: 600;
  margin: 0;
  font-size: 16px;

}
.delivery__store .rates {
  margin-top: 4px;
  display: flex;
  gap: 8px;

}
.delivery__time .items {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}
.delivery__time {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.delivery__time .item {
  position: relative;
}
.delivery__time .item .item__info {
  position: absolute;
right: -5px;
  top: -10px;
  color: white;
  font-size: 10px;
  line-height: 18px;
  background-color: var(--systemRed);
  border-radius: 16px;
  padding: 0 6px;
  min-width: 16px;
}
.delivery__time .item img {
  width: 42px;
}
.delivery__footer {
  display: flex;
  padding: 24px 10px;
  align-items: center;
  font-size: 13px;
  gap: 9px;
}
.delivery__footer .text--green {
  color: var(--systemGreen);
}
